# Adonis default .gitignore ignores
node_modules
build
coverage
.vscode
.DS_STORE
tmp

#  Additional good to have ignores for dockerignore
Dockerfile*
docker-compose*
.dockerignore
*.md
.git
.gitignore

https://docs.adonisjs.com/cookbooks/dockerizing-adonis
https://dev.to/karanpratapsingh/dockerize-your-react-app-4j2e